@media (min-width: 768px) {
  .nav .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .nav .navbar-collapse {
    text-align: center;
  }
}

#searchBar {
  width: 500px !important;
}